
@page "/Treasury/ManageCheckPayment"

	<div class="container-fluid my-4">

		<div class="section-title d-sm-flex justify-content-between mb-4 mt-5 mx-2 py-2">
			<h4 class=" mb-0 py-2 px-1 ms-1 font-color">
				<strong>ดำเนินการตรวจสอบสถานะการชำระเงิน</strong>
			</h4>
		</div>

		<div class="row mb-2 justify-content-center mx-2">
			<div class="card col-12 col-md-12 pt-1 justify-content-center mx-2"
				 style="background-color: #ffffff; height: 150px; height: inherit; border-radius: 10px">
				<div class="row">
					<div class="col-4 font-color font-weight-bold">
						เลขที่สัญญา :
					</div>
					<div class="col">

					</div>
				</div>
			</div>
			</div>
		</div>

@code {

}
