body {
}


@media (min-width: 1300px) {
    .card-carou {
        width: 360px;
        background-color: white;
    }
}

@media (max-width: 1300px) {
    .card-carou {
        width: 320px;
        background-color: white;
    }
}

@media (max-width: 1190px) {
    .card-carou {
        width: 370px;
        background-color: white;
    }
}

@media (max-width: 1024px) {
    .card-carou {
        width: 350px;
        background-color: white;
    }
}

@media (max-width: 768px) {
    .card-carou {
        width: 350px;
        background-color:white;
    }
}

@media (max-width: 450px) {
    .card-carou {
        width:350px;
    }
}

