@page "/Loading"

<div class="mt-4">
	<div class="row mt-4">
		<div class="col-4"></div>
		<div class="col-4 text-center mt-4">
			<div class="spinner-grow text-info" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div class="spinner-grow text-info" role="status">
				<span class="sr-only">Loading...</span>
			</div>
			<div class="spinner-grow text-info" role="status">
				<span class="sr-only">Loading...</span>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
	@if (!string.IsNullOrEmpty(Message))
	{
		<div class="text-center mt-4">@Message</div>
	}
</div>

@code {

}
