.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
    background-color: #F8F8F8;
}

a:hover {
    text-decoration: none;
    transition:none;
}






