<div class="sb-sidenav-menu">
    <div class="nav">
        <ul class="nav flex-column">
            <li class="navitem px-2">
                <NavLink class="nav-link" href="./Admin/AdminUniHome">
                    <i class="material-icons me-2">dashboard</i> ภาพรวม
                </NavLink>
            </li>
            <Divider Style="margin-bottom:0px; margin-top:0px" />
            <li class="navitem px-2">
                <NavLink class="nav-link" href="./Admin/ManageTypeLoan">
                    <i class="material-icons me-2">fact_check</i> จัดการสวัสดิการเงินกู้
                </NavLink>
            </li>
            <Divider Style="margin-bottom:0px; margin-top:0px" />

            <li class="navitem px-2">
                <NavLink class="nav-link" href="./Admin/Accessright">
                    <i class="material-icons me-2">security</i> สิทธิ์การใช้งาน
                </NavLink>
            </li>
            <Divider Style="margin-bottom:0px; margin-top:0px" />
            <li class="navitem px-2">
                <NavLink class="nav-link" href="./Admin/FilterReportAdmin">
                    <i class="fa-solid fa-file-export me-2 fa-lg"></i>รายงานการกู้ยืมเงิน
                </NavLink>
            </li>
        </ul>
    </div>
</div>