<div class="sb-sidenav-menu">
	<div class="nav">
		<ul class="nav flex-column">
			<li class="navitem px-2">
				<NavLink class="nav-link" href="./Manager/ManagerHome">
					<i class="fas fa-chart-line fa-lg mx-2"></i> ภาพรวม
				</NavLink>
			</li>
			<Divider Style="margin-bottom:0px; margin-top:0px" />
			<li class="navitem px-2">
				<NavLink class="nav-link" href="./Manager/FilterReportAdmin">
					<i class="fa-solid fa-file-export me-2 fa-lg"></i>รายงานการกู้ยืมเงิน
				</NavLink>
			</li>
			<Divider Style="margin-bottom:0px; margin-top:0px" />
			<li class="navitem px-2">
				<NavLink class="nav-link" href="./Manager/CheckLoanpage">
					<i class="material-icons me-2">how_to_reg</i> ตรวจสอบสิทธิ์การกู้
				</NavLink>
			</li>
			<Divider Style="margin-bottom:0px; margin-top:0px" />
		</ul>
	</div>
</div>
