<div class="sb-sidenav-menu">
    <div class="nav">
        <ul class="nav flex-column">
            <li class="navitem px-2 m-0">
                <NavLink class="nav-link" href="./Treasury/Home">
                    <i class="material-icons me-2">dashboard</i>
                    ภาพรวม
                </NavLink>
            </li>
            <Divider Class="divider-style-nav" />

            <li class="navitem px-2 m-0">
                <NavLink class="nav-link" href="./Treasury/RecordFirstPayment">
                    <i class="fa-solid fa-circle-dollar-to-slot fa-lg me-2 "></i>
                    บันทึกโอนเงิน
                </NavLink>
            </li>
            <Divider Class="divider-style-nav" />

            <li class="navitem px-2 m-0">
                <NavLink class="nav-link" href="./Treasury/AllPayment">
                    <i class="fa-solid fa-table fa-lg me-2"></i> 
                    รายการชำระเงินทั้งหมด
                </NavLink>
            </li>
            <Divider Class="divider-style-nav" />

            <li class="navitem px-2 m-0">
                <NavLink class="nav-link" href="./Treasury/CheckPayment">
                    <i class="fa-solid fa-check-to-slot fa-lg me-2"></i> ตรวจสอบการชำระเงิน
                </NavLink>
            </li>
            <Divider Class="divider-style-nav" />

            <li class="navitem px-2 m-0">
                <NavLink class="nav-link" href="./Treasury/ExportData">
                    <i class="fa-solid fa-file-arrow-up fa-lg me-2"></i> สร้างเอกสารรายงาน
                </NavLink>
            </li>
        </ul>
    </div>
</div>

<style scoped>
    .divider-style-nav {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }

    .nav-link {
        height: max-content !important;
        padding: 0px 0px 0px 16px !important;
        margin: 0px !important;
    }

</style>
