
<Button Type="@ButtonType.Primary"
        Size="@(Size)"
        Class="button-color"
        Style="border:none; padding: 0px 20px; background-color:#367691"
        OnClick="@(async()=>{await Export();})">
    <i class="fa-regular fa-file-word" style="color:yellow"></i>
    ดาวน์โหลดบันทึกข้อความติดตามหลักฐานการกู้เงิน.docx
</Button>

@code {

}
